<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <main>
        <article>
          <h2>User Details</h2>
          <p>First Name: <b>{{firstname}}</b></p>
          <p>Last Name: <b>{{lastname}}</b></p>
          <p>Email: <b>{{email}}</b></p>
          <p>Profession: <b>{{profession}}</b></p>
        </article>
        <div class="details_btn">
          <button type="button">
            <a href="{% url 'update' csrfmiddlewaretoken %}" alt="update">
              <span>Edit</span>
              <svg viewBox="0 0 24 24">
                <path
                  d="M21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4h6a1,1,0,0,0,0-2H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12ZM6,12.76V17a1,1,0,0,0,1,1h4.24a1,1,0,0,0,.71-.29l6.92-6.93h0L21.71,8a1,1,0,0,0,0-1.42L17.47,2.29a1,1,0,0,0-1.42,0L13.23,5.12h0L6.29,12.05A1,1,0,0,0,6,12.76ZM16.76,4.41l2.83,2.83L18.17,8.66,15.34,5.83ZM8,13.17l5.93-5.93,2.83,2.83L10.83,16H8Z"
                />
              </svg>
            </a>
          </button>
          <button type="button">
            <a href="{% url 'delete' csrfmiddlewaretoken %}" alt="delete">
              <span>Delete</span>
              <svg viewBox="0 0 24 24">
                <path
                  d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"
                />
              </svg>
            </a>
          </button>
        </div>
        <a href="../">Back to Home</a>
      </main>
    </div>
  </body>
</html>
