{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body class="home">
    <main>
      <h1>BOOTCAMP 2023</h1>
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Profession</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if length == 0 %}
          <tr class="no-data">
            <td colspan="5">NO DATA TO DISPLAY</td>
          </tr>
          {% else %} {% for boot in Boot%}
          <tr>
            <td>{{boot.firstname}}</td>
            <td>{{boot.lastname}}</td>
            <td>{{boot.email}}</td>
            <td>{{boot.profession}}</td>
            <td class="icons">
              <a
                href="{% url 'update' boot.csrfmiddlewaretoken %}"
                alt="update"
                title="update"
              >
                <svg viewBox="0 0 24 24">
                  <path
                    d="M21,12a1,1,0,0,0-1,1v6a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4h6a1,1,0,0,0,0-2H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V13A1,1,0,0,0,21,12ZM6,12.76V17a1,1,0,0,0,1,1h4.24a1,1,0,0,0,.71-.29l6.92-6.93h0L21.71,8a1,1,0,0,0,0-1.42L17.47,2.29a1,1,0,0,0-1.42,0L13.23,5.12h0L6.29,12.05A1,1,0,0,0,6,12.76ZM16.76,4.41l2.83,2.83L18.17,8.66,15.34,5.83ZM8,13.17l5.93-5.93,2.83,2.83L10.83,16H8Z"
                  />
                </svg>
              </a>
              <a
                href="{% url 'details' boot.csrfmiddlewaretoken %}"
                alt="details"
                title="details"
              >
                <svg viewBox="0 0 576 512">
                  <path
                    d="M208 256c35.35 0 64-28.65 64-64c0-35.35-28.65-64-64-64s-64 28.65-64 64C144 227.3 172.7 256 208 256zM464 232h-96c-13.25 0-24 10.75-24 24s10.75 24 24 24h96c13.25 0 24-10.75 24-24S477.3 232 464 232zM240 288h-64C131.8 288 96 323.8 96 368C96 376.8 103.2 384 112 384h192c8.836 0 16-7.164 16-16C320 323.8 284.2 288 240 288zM464 152h-96c-13.25 0-24 10.75-24 24s10.75 24 24 24h96c13.25 0 24-10.75 24-24S477.3 152 464 152zM512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM528 416c0 8.822-7.178 16-16 16H64c-8.822 0-16-7.178-16-16V96c0-8.822 7.178-16 16-16h448c8.822 0 16 7.178 16 16V416z"
                  />
                </svg>
              </a>
              <a
                href="{% url 'delete' boot.csrfmiddlewaretoken %}"
                alt="delete"
                title="delete"
              >
                <svg viewBox="0 0 24 24">
                  <path
                    d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z"
                  />
                </svg>
              </a>
            </td>
          </tr>
          {% endfor%} {% endif %}
        </tbody>
      </table>
      <a href="register/">Register</a>
    </main>
  </body>
</html>
